@CHARSET "UTF-8";
#wrapper {
	border:3px solid black;
	margin:20px auto auto;
	width:900px;
}
#content {
	min-height:500px;
	padding:20px;
}
.infobox {
	border:2px solid grey;
	float:left;
	margin:10px;
	padding:10px;
	width:500px;
}
.infobox .left {
	float:left;
	font-weight:bold;
	width:150px;
}

.infobox .middle {
	margin-left:150px;
	text-align:left;
}

.infobox .right {
	margin-left:300px;
	text-align:left;
}

.infobox .row {
	padding:5px 0;
}